<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers</title>
    <link rel="stylesheet" href="style.css">
</head>
<div style="text-align:center;margin-top: 40px;"><img src="thepurpleorchid-logo.webp"></div>
<div style="text-align:center;margin-top: 40px;">
<a style="padding-right: 20px;" href="#">Home</a>
<a style="padding-right: 20px;" href="#">About</a>
</div>
<h1 style="font-size:50px;text-align:center;"> About Flower Shop</h1>
<p style="font-size:20px;text-align:center;line-height: 32px;margin-bottom: 20px;">Floristry is the production, commerce, and trade in flowers. <br> It encompasses flower care and handling, floral design and arrangement, merchandising, <br>production, display and flower delivery. 
    </p>
   <div style="text-align:center;"> <a style="font-size:20px;background-color: red;padding-right: 10px;color: white;" href="https://www.goole.com">Read More</a></div>

